.container{
    width: 90%;
    height: 100%;
    margin:120px 120px;
    padding: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(104, 92, 92, 0.2);
}
.filter_wrapper{
    display: flex;
    justify-content: space-between;
}
.search_input{
    height: 20px;
    outline: none;
    background: rgb(199, 199, 199);
    padding: 20px;
    border: none;
}
.sort_selector{
    height: 30px;
    outline: none;
    padding: 4px;

}