.side_nav{
  float: left;
	position: relative;
	top: 0;
  left: 0;
  padding: 25px;
  box-shadow: 2px 0px rgba(104, 92, 92, 0.2);
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  font-size: 70px;
}
.list>hr{
  margin-top: 10px;
}